# Week 2 - Monday Lesson (variable assignment, loops, lists)

## Tasks Today:

1) Int & Float assignments <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Assigning int <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Assigning float <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Performing Calculations on ints and floats <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Addition <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Subtraction <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Multiplication <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Floor Division <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Modulo <br>
 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; - Exponential <br>
2) String Input-Output <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) String Assignment <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) print() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) String Concatenation <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Type Conversion <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) input() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) format() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) Old Way (python 2) <br>
3) <b>In-Class Exercise #1</b> <br>
4) If Statements <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) 'is' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) 'not in' keyword <br>
5) <b>In-Class Exercise #2</b> <br>
6) Elif Statements <br>
7) Else Statements <br>
8) <b>In-Class Exercise #3</b> <br>
9) For Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Using 'in' keyword <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Continue Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) Break Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) Pass Statement <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) Double For Loops <br>
10) While Loops <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Looping 'While True' <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) While and For Loops Used Together <br>
11) Built-In Functions <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) range() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) len() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) help() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) isinstance() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) abs() <br>
12) Try and Except <br>
13) Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; a) Declaring Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; b) Indexing a List <br>
 &nbsp;&nbsp;&nbsp;&nbsp; c) .append() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; d) .insert() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; e) .pop() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; f) .remove() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; g) del() <br>
 &nbsp;&nbsp;&nbsp;&nbsp; h) Concatenating Two Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; i) Lists Within Lists <br>
 &nbsp;&nbsp;&nbsp;&nbsp; j) Looping Through Lists <br>

### Int & Float Assignments

##### Assigning int

In [5]:
number = 6
print(number)

6

##### Assinging float

In [7]:
my_float = 2.3
print(2.3)

2.3

#### Performing Calculations on ints and floats

##### Addition

In [11]:
num1 = 2
num2 = 5.7

result = num1 + num2
print(result)

result += 2
print(result)

7.7
9.7

##### Subtraction

In [15]:
result_diff = num2 - num1
print(result_diff)

result_diff -= 2
print(result_diff)

3.7
1.7000000000000002

##### Multiplication

In [18]:
num3 = 3
num4 = 10

result_prod = num3 * num4
print(result_prod)

result_prod *= 2
print(result_prod)

30
60

##### Division

In [20]:
result_div =  4 / 2
print(result_div)

2.0

##### Floor Division

In [22]:
result_floor = 5 // 2
print(result_floor)

my_list=[1,2,3,4,5]
middle_index = len(my_list)//2

2

##### Modulo

In [23]:
result_mod = 5 % 2
print(result_mod)

num = 7
if num % 2 == 0:
    print("even")
else:
    print("odd")

1

##### Exponential

In [25]:
square = 5 ** 2
# 5^2
print(square)
x = 5
x**2 = x
print(x)

SyntaxError: cannot assign to operator (<ipython-input-25-1b21c09ee505>, line 5)

### String Input-Output

##### String Assignment

In [28]:
name = "Kevin"
name = 'Kevin'
print(name)

word = "kevin's"
print(word)

word = 'he said "hello"'
print(word)

word = 'he said "what\'s up?"'
print(word)

Kevin
kevin's
he said "hello"
he said "what's up?"

##### print() <br>
<p>Don't forget about end=' '</p>

In [34]:
name = "Kevin"
print("this is my first name:", name,"\nthanks")
print("hello")
#Both the same
print("hello")
print("hello", end="\n")

print("no spaces", end="")
print("no spaces", end="")
print("no spaces", end="")
print("no spaces", end="")

print("spaces", end=" ")
print("spaces", end=" ")

print("Welcome to the party", end="Thanks for coming")
print(print())

this is my first name: Kevin
thanks
hello
hello
hello
no spacesno spacesno spacesno spacesspaces spaces Welcome to the partyThanks for coming
None

##### String Concatenation

In [38]:
first = "Mark"
last = "Gerlach"
full_name = first + " " + last
print(full_name)

print(first[1])
first[1]="g" #can't assign because already assigned, strings are immutable

Mark Gerlach
a

TypeError: 'str' object does not support item assignment

##### Type Conversion

In [49]:
num = "32"
print(type(num)) #type is int

change_type = int(num) #type changes to string
print(type(change_type))

num1 = "4"
num2 = 6

int(num1) + num2

# dict(), list(), tuple(), float(), int(), str(), set()

<class 'str'>
<class 'int'>

10

##### input()

In [51]:
input("This is my question? ")

age = input("What is your age? ")
age = int(age)
print(type(age))
print("Your age is", age)

This is my question? hey

'hey'

##### format()

In [58]:
age = input("What is your age? ")
result_string = 'You are {} years old and you are getting wiser!'.format(age)
print(result_string)

# f-string!!!
result_string = f'You are {age} years old and you are getting wiser!'
print(result_string)

What is your age? 25
You are 25 years old and you are getting wiser!
You are 25 years old and you are getting wiser!

##### Old Way (python 2)

In [59]:
age = 35
result_str = 'You are %s and you look great for your age!' %age
print(result_str)

You are 35 and you look great for your age!

# In-Class Exercise 1 <br>
<p>Create a format statement that asks for color, year, make, model and prints out the results</p>

In [62]:
color = input("What color is your car")
year = input("What year is your car?")
make = input("What make is your car?")
model = input("What model is your car?")
result_str = f"You drive a {year} {make} {model} that is painted {color}."
print(result_str)

What color is your carblack
What year is your car?2011
What make is your car?Subaru
What model is your car?WRX
You drive a 2011 Subaru WRX that is painted black.

### If Statements

In [73]:
# True / False
# boolean evaluates to True or False
# Operators
# greater than >
# less than <
# Equal ==
# greater or equal >=
# less than or equal <=
# not equal; != (or not ==)

num1 = 5
num2 = 10
if num1 == num2: #can also do !=   #can also do not ==
    #code block
    print("equal")
else:
    print("not equal")
    
if num1 > num2:
    print("num1 is greater")
elif num1 < num2:
    print("num1 is less")
else:
    print("num1 and num2 are equal")
    
# and & or

# if True and False
# bot hsides of the and must return True to be True
if num1 == 5 and num2 > 12:
    print("something")
else:
    print("nothing")

#      True or False --> True
if num1 == 5 or num2 > 12:
    print("something")
else:
    print("nothing")

    
    
#Ternary Operator... this is how you write an if statement inline (must have an ELSE)
# [value if true] [if] [boolean] [else] [value if false]
name = "john"
my_num = 5 if name =="steve" else 0
print(my_num)

my_num = 5 if name =="steve" else 10 if name=="john" else 0
print(my_num)

not equal
num1 is less
nothing
something
0
10

##### 'is' keyword

In [77]:
#check if the two objects are the same... generally don't use is unless you are asking is None
# IS is used for identity where as == is euqality, IS is pointing to a different point in memory resulting in False

y = None
if y is None:
    print("y is None")
type(y)

list1 = []
list2 = []
list3 = list1
if list1 == list2:
    print("true")
else:
    print("false")
    
if list1 is list2:
    print("true")
else:
    print("false")
    
print(list1==list3)
print(list1 is list3)

y is None
true
false
True
True

##### 'in' keyword

In [78]:
# Check if a character is in a name

# Under the hood, using IN with a list or a string is actually looping

char_name = "Max Payne"

if "Max" in char_name:
    print("The character who lost everything...")
    
for letter in char_name:  # puts a loop in a loop, avoid, results in increased processing power
    if letter == "a"
        return True

The character who lost everything...

##### 'not in' keyword'

In [79]:
sega_char = "Sonic"
if "a" not in sega_char:
    print("'a' is NOT in the name...!!!!")

'a' is NOT in the name...!!!!

# In-Class Exercise 2 <br>
<p>Ask user for input, check to see if the letter 'p' is in the input</p>

In [88]:
word = input("What is your name? ")
if 'p' in word.lower():
    print(True)
else:
    print(False)
    
"p" in input("What is your name? ").lower()

What is your name? Pat
True

## Using 'and'/'or' with If Statements

In [ ]:
# SEE ABOVE

### Elif Statements

In [ ]:
# SEE ABOVE

### Else Statements

In [ ]:
# SEE ABOVE

### For Loops

In [89]:
# for [placeholder] in [iterable]:
for i in range(10):
    print(i)    # prints numbers 1-9
    
name = "Christina"
for letter in name:
    print(letter)

0
1
2
3
4
5
6
7
8
9
C
h
r
i
s
t
i
n
a

##### Using 'in' keyword

In [99]:
foods = ["pizza", "tacos", "dimsum", "sushi"]
for food in foods:
    print(food.title())
    
foods[2]

list(range(len(foods)))    # gives list of indexes

for index in range(len(foods)):
    print(index)
    print(foods[index])

# access index and object is to use enumerate

for tuple in enumerate(foods):
    print(tuple)
      
for index, food in enumerate(foods):
    print(f"the food at {index} is {food}")

Pizza
Tacos
Dimsum
Sushi
0
pizza
1
tacos
2
dimsum
3
sushi
(0, 'pizza')
(1, 'tacos')
(2, 'dimsum')
(3, 'sushi')
the food at 0 is pizza
the food at 1 is tacos
the food at 2 is dimsum
the food at 3 is sushi

##### Continue Statement

In [100]:
# it will continue the next iteration...

for i in range(10):
    if i == 5:
        continue
    print(i)

0
1
2
3
4
6
7
8
9

0
1
2
3
4
6
7
8
9
10
11
12
13
14
15
16
17
18
19

##### Break Statement

In [102]:
for i in range(10):
    if i == 5:
        break
    print(i)

0
1
2
3
4

0
1
2
3
4

##### Pass Statement

In [106]:
for x in [1, 2, 3, 4]:
    pass
print("hello")

hello

##### Double For Loops

In [108]:
for i in range(5):    #bad, don't do this, hit the print 25 times
    for j in range(5):
        print(f'i={i}, j={j}')

i=0, j=0
i=0, j=1
i=0, j=2
i=0, j=3
i=0, j=4
i=1, j=0
i=1, j=1
i=1, j=2
i=1, j=3
i=1, j=4
i=2, j=0
i=2, j=1
i=2, j=2
i=2, j=3
i=2, j=4
i=3, j=0
i=3, j=1
i=3, j=2
i=3, j=3
i=3, j=4
i=4, j=0
i=4, j=1
i=4, j=2
i=4, j=3
i=4, j=4

### While Loops

In [112]:
num = 0
while num < 10:
    print(num)    # keeps running
    num += 1
    
game_over = False
while not game_over:
    user_input = input("What do you want to do? quit or continue?")
    if user_input.lower() == "quit":
        game_over = True
    else:
        continue
    print("I'll still run after quit") # need to break loop

0
1
2
3
4
5
6
7
8
9
What do you want to do? quit or continue?continue
What do you want to do? quit or continue?quit
I'll still run after quit

##### Looping 'While True'

In [113]:
while True:
    user_input = input("What do you want to do? quit or continue ")
    if user_input.lower() == "quit":
        break
    print("Will I print???")
                                # breaking out of while loop, nothing afterwards like above

What do you want to do? quit or continuecontinue
Will I print???
What do you want to do? quit or continuecontinue
Will I print???
What do you want to do? quit or continuequit

##### While & For Loops Used Together

In [114]:
num = 0     # like a double for loop but using a while loop
while num < 5:
    print("While loop iteration: ",num)
    for i in range(5):
        print("For Loop Iteration: ", i)
    num += 1

While loop iteration:  0
For Loop Iteration:  0
For Loop Iteration:  1
For Loop Iteration:  2
For Loop Iteration:  3
For Loop Iteration:  4
While loop iteration:  1
For Loop Iteration:  0
For Loop Iteration:  1
For Loop Iteration:  2
For Loop Iteration:  3
For Loop Iteration:  4
While loop iteration:  2
For Loop Iteration:  0
For Loop Iteration:  1
For Loop Iteration:  2
For Loop Iteration:  3
For Loop Iteration:  4
While loop iteration:  3
For Loop Iteration:  0
For Loop Iteration:  1
For Loop Iteration:  2
For Loop Iteration:  3
For Loop Iteration:  4
While loop iteration:  4
For Loop Iteration:  0
For Loop Iteration:  1
For Loop Iteration:  2
For Loop Iteration:  3
For Loop Iteration:  4

### Built-In Functions

##### range()

In [116]:
# start, stop, step
list(range(5))   #start

list(range(5,10))    #start stop

list(range(5, 10, 2))    #start stop step

list(range(10, 5, -1))    #negative steps

[5, 6, 7, 8, 9]

##### len()

In [7]:
len("hello")

len([1,2,3,4])

##### help()

In [118]:
help(len) 


dir(int)    #gives attributes of whatever is in the parenthesis

Help on built-in function len in module builtins:

len(obj, /)
    Return the number of items in a container.

['__abs__',
 '__add__',
 '__and__',
 '__bool__',
 '__ceil__',
 '__class__',
 '__delattr__',
 '__dir__',
 '__divmod__',
 '__doc__',
 '__eq__',
 '__float__',
 '__floor__',
 '__floordiv__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getnewargs__',
 '__gt__',
 '__hash__',
 '__index__',
 '__init__',
 '__init_subclass__',
 '__int__',
 '__invert__',
 '__le__',
 '__lshift__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__neg__',
 '__new__',
 '__or__',
 '__pos__',
 '__pow__',
 '__radd__',
 '__rand__',
 '__rdivmod__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rfloordiv__',
 '__rlshift__',
 '__rmod__',
 '__rmul__',
 '__ror__',
 '__round__',
 '__rpow__',
 '__rrshift__',
 '__rshift__',
 '__rsub__',
 '__rtruediv__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__truediv__',
 '__trunc__',
 '__xor__',
 'as_integer_ratio',
 'bit_length',
 'conjugate',
 'denominator',
 'from_bytes',
 'imag',
 'numerator',
 'real',
 'to_bytes']

##### isinstance()

In [119]:
# returns bool
# isinstance(var, type)

num = 3
print(isinstance(num, int))
print(isinstance(num, str))

True
False

##### abs()

In [121]:
# absolute value  | -5 | .. which measures the distance from Zero

print(abs(-5))
print(abs(5))

5
5

### Try and Except

In [125]:
# Chapter 10 - this is a way to handle an error -- only for unexpected error
try:
    number_test = 0
    input_num = int(input("Guess a Number: "))
    if input_num != number_test:
        input_num = input_num + number_test
        print(f'Your number is: {input_num}')
except:
    print("That didn't work -- Make sure your Input is a number please!!!")

    
def divid(num1, num2):
    try:
        print(num1/num2)
    except ZeroDivisionError:    # specific error in Python
        print(0)
    except TypeError:            # another specific error, must match
        print("Sorry I need numbers")
        
divid(1,0)

Guess a Number: 1
Your number is: 1
0

### Lists

##### Declaring Lists

In [126]:
names = ["Max", "Cindy", "Kathy", "Brad"]
print(names)

a_list = [1,2.5 [1,2,3], "string"]    # can use any data type together

['Max', 'Cindy', 'Kathy', 'Brad']

##### Indexing a List

In [169]:
names[1]

print(names[-3])
print(names[1])
# list_name[index]

# Slicing [start:end:step]
print(
    names[1:3]    # list slice
)

print(
    names[:]
)

print(
    names[:3]
)

print(
    names[1:]
)

print(
    names[::2]
)

print(
    names[::-1]
)

# Slicing also works on strings
"Steve"[::-1]

print("racecar"[::-1])

my_string = "racecar"
if my_string == my_string[::1]:
    print("palindrome")
    
print(
    names[:]
)

Cindy
Anu
['Anu', 'Anu']
['Max', 'Anu', 'Anu', 'Cindy', 'Kathy', 'Brad']
['Max', 'Anu', 'Anu']
['Anu', 'Anu', 'Cindy', 'Kathy', 'Brad']
['Max', 'Anu', 'Kathy']
['Brad', 'Kathy', 'Cindy', 'Anu', 'Anu', 'Max']
racecar
palindrome
['Max', 'Anu', 'Anu', 'Cindy', 'Kathy', 'Brad']

##### .append()

In [134]:
# Works in-place!
names.append("Austin")
print(names)

['Max', 'Cindy', 'Kathy', 'Brad', 'Austin']

##### .insert()

In [138]:
names.insert(1,"Anu")
print(names)

names[2]="Natasha"
names

['Max', 'Anu', 'Anu', 'Anu', 'Cindy', 'Kathy', 'Brad', 'Austin']

['Max', 'Anu', 'Natasha', 'Anu', 'Cindy', 'Kathy', 'Brad', 'Austin']

##### .pop()

In [140]:
my_list = ["A", "B", "C", "D"]
d = my_list.pop()
print(d, type(d))
my_list

D <class 'str'>

['A', 'B', 'C']


##### .remove()

In [141]:
my_list = ["A", "B", "C", "D"]
my_list.remove("B")
print(my_list)

['A', 'C', 'D']

##### del()

In [142]:
# remove by index
# be careful using in a loop!!! you will get indexing errors
my_list = ["A", "B", "C", "D"]
del my_list[2]
my_list

for i in range(len(names)):    # becomes out of range so it won't work
    if i==2:
        del names[i]
    print(names[i])

Max
Anu
Anu
Cindy
Kathy
Brad

IndexError: list index out of range

##### Concatenating Two Lists

In [18]:
l_2 = [0,1,2]
l_3 = [3,4,5]

large_list = l_2 + l_3
print(large_list)

l_2.extend(l_3)
l_2

##### Lists Within Lists

In [146]:
my_nested_list = ["Max", "Sally", "Jason", [1,2,3], "Jessica"]

my_nessted_list[3][1]

##### Looping Through Lists

In [20]:
### WAYYY ABOVE

## Exercise #1 <br>
<p>Cube Number Test... Print out all cubed numbers up to the total value 1000, so if the cubed number is over 1000 break the loop.</p>

In [3]:
list_num = [i for i in range(1000)]
for i in list_num:
    if i**2 < 1000:
        print(i, " equals ", (i**2))

0  equals  0
1  equals  1
2  equals  4
3  equals  9
4  equals  16
5  equals  25
6  equals  36
7  equals  49
8  equals  64
9  equals  81
10  equals  100
11  equals  121
12  equals  144
13  equals  169
14  equals  196
15  equals  225
16  equals  256
17  equals  289
18  equals  324
19  equals  361
20  equals  400
21  equals  441
22  equals  484
23  equals  529
24  equals  576
25  equals  625
26  equals  676
27  equals  729
28  equals  784
29  equals  841
30  equals  900
31  equals  961

## Exercise #2 <br>
<p>Get first prime numbers up to 100</p>

In [4]:
#list_num = [i for i in range(100)]

#for i in list_num:
#    if i > 1:
#        for i in range(2, i):
#            if i % i ==0:
#                break
#        else:
#            print(i)


def find_primes(input_range):
    for num in range(input_range):
        if num > 1:
            for i in range(2, num):
                if num % i == 0:
                    break
            else:
                print(num)
                
print(find_primes(100))

2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
None

# Exercise 3 <br>
<p>Take in a users input for their age, if they are younger than 18 print kids, if they're 18 to 65 print adults, else print seniors</p>

In [154]:
age = input("What is your age? ")
age = int(age)

if age < 18:
    print("kids")
elif age >=18 and age <= 65:
    print("adults")
else:
    print("seniors")

What is your age? 66
seniors